function Main.main 2
call Greeter.new 0
pop local 0
call Greeter.new 0
pop local 1
push local 0
call Greeter.getInfo 1
pop temp 0
push local 1
call Greeter.getInfo 1
pop temp 0
push local 0
call Greeter.displayGreetings 1
pop temp 0
push local 1
call Greeter.displayGreetings 1
pop temp 0
push constant 0
return